<% @articles.each do |time, articles| %>
<div class="row-fluid article-group" id="">

  <div class="span3 offset1 article-group-time">
    <time><%= time.strftime('%B %d') %></time>
  </div>

  <div class="span5 article-group-list">
    <ol>
      <% articles.each do |article| %>
      <li>
        <article class="article">
          <h4 class="article-title">
            <% if article.title %>
            <a href="<%= article.uri %>"><%= article.title %></a>
            <% else %>
            <a href="<%= article.uri %>"><%= article.uri %></a>
            <% end %>
          </h4>
        </article>
      </li>
      <% end %>
    </ol>
  </div>

</div>
<% end %>
